@page "/"
@using ListComponentIssue.Shared

<h1>List Component Issue</h1>


@if (listOfItems != null)
{
    <div style="border:1px solid;">
        Item list in Index.razor.cs:
        @foreach (var item in listOfItems)
        {
            <div>Id: @item.Id Title: @item.Title</div>
        }
    </div>

    <ul>
        <li>5 items list. </li>
        <li> Toggle bool to something different than next component on the right.</li>
        <li>Close button will remove that item from the list.</li>
        <li>Watch as the bools shifts</li>
    </ul>
    <label>why ??</label>

<div style="display:flex; flex-direction:row;">
    @foreach (var item in listOfItems)
    {
        <MyComponent ThisItem="@item" Close="close"></MyComponent>
    }
</div>
}

